

/** Login 8 start **/
.login-8{
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 1;
    z-index: 999;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background: #eef1f1;
}

.login-8 .container{
    max-width: 1120px;
    margin: 0 auto;
}

.login-8 a {
    text-decoration: none;
}

.login-8 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Jost', sans-serif;
}

.login-8 .info-text{
    text-align: right;
    top: 35%;
    position: absolute;
    right: 30px;
    max-width: 350px;
    margin-left: auto;
}

.login-8 .waviy {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.login-8 .waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    font-family: 'Jost', sans-serif;
}

.login-8 .waviy span.color-yellow{
    color: #000;
}

@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}

.login-8 p{
    color: #fff;
    margin-bottom: 0;
    font-size: 15px;
}

.login-8 .form-check-input:checked {
    display: none;
}

.login-8 .form-info {
    justify-content: center;
    align-items: center;
    padding: 100px 90px;
}

.login-8 .login-inner-form .form-group {
    margin-bottom: 25px;
}

.login-8 .login-inner-form .form-box {
    float: left;
    width: 100%;
    position: relative;
}

.login-8 .login-inner-form .form-control {
    font-size: 16px;
    outline: none;
    color: #535353;
    border-radius: 100px;
    border: 1px solid #d9d9d9;
    padding: 14.5px 45px 14.5px 20px;
}

.login-8 .login-inner-form img {
    margin-bottom: 5px;
    height: 40px;
}

.login-8 .login-inner-form .form-box i {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 20px;
    color: #535353;
}

.login-8 .login-inner-form .forgot{
    margin: 0;
    line-height: 45px;
}

.login-8 .bg-img {
    background: url(../img/img-66.jpg) top left repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: 999;
    position: relative;
    display: flex;
}

.login-8 .login-box {
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-8 .login-inner-form .checkbox-theme input[type="checkbox"]:checked + label::before {
    color: #fff;
    background: #0e4980;
    border: solid 1px #0e4980;
}

.login-8 .login-inner-form .btn-md {
    cursor: pointer;
    height: 55px;
    color: #fff;
    padding: 13px 50px 12px 50px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    border-radius: 100px;
    text-transform: uppercase;
}

.login-8 .login-inner-form input[type=checkbox], input[type=radio] {
    margin-right: 3px;
}

.login-8 .login-inner-form p{
    margin: 0;
    color: #535353;
}

.login-8 .login-inner-form p a{
    color: #535353;
}

.login-8 .login-inner-form button:focus {
    outline: none;
    outline: 0 auto -webkit-focus-ring-color;
}

.login-8 .login-inner-form .btn-theme.focus, .btn-theme:focus {
    box-shadow: none;
}

.login-8 .login-inner-form .btn-theme {
    background: #165896;
    border: none;
    color: #fff;
}

.login-8 .login-inner-form .btn-theme:hover {
    background: #3b79b3;
}

.login-8 .logo img{
    margin-bottom: 15px;
    height: 30px;
}

.login-8 .nav-pills li{
    display: inline-block;
}

.login-8 .login-inner-form .form-check{
    float: left;
    margin-bottom: 0;
    padding-left: 0;
}

.login-8 .login-inner-form .form-check a {
    color: #d6d6d6;
    float: right;
}

.login-8 .login-inner-form .form-check-input {
    position: absolute;
    margin-left: 0;
}

.login-8 .login-inner-form .form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    margin-left: -22px;
    border-radius: 100px;
    background: #fff;
    border: 1px solid #d9d9d9;
}

.login-8 .login-inner-form .form-check-label {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 16px;
    color: #535353;
}

.login-8 .form-section input[type=checkbox]:checked + label:before {
    font-weight: 600;
    color: #e6e6e6;
    line-height: 18px;
    font-size: 12px;
    content: "\2713";
}

.login-8 .btn-section{
    float: right;
    display: inline-block;
}

.login-8 .btn-section {
    top: 30px;
    position: absolute;
    right: 30px;
    margin-bottom: 0;
}

.login-8 .btn-section .link-btn {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #0e4980;
    padding: 10px 18px;
    text-decoration: none;
    text-decoration: blink;
    text-transform: uppercase;
    border-radius: 3px;
    background: #fff;
}

.login-8 .btn-section .link-btn:hover{
    background: #3b79b3;
    color: #fff;
}

.login-8 .btn-section .link-btn.active{
    background: #0e4980;
    color: #fff;
}

.login-8 .login-inner-form input[type=checkbox], input[type=radio] {
    margin-top: 4px;
}

.login-8 .login-inner-form .checkbox a {
    font-size: 16px;
    color: #535353;
    float: right;
    margin-left: 3px;
}

.login-8 .form-section{
    text-align: center;
}

.login-8 .form-section h3{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #040404;
}

.login-8 .form-section .text {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 0;
    color: #535353;
}

.login-8 .form-section .text a{
    color: #535353;
}

.login-8 .social-list{
    bottom: 28px;
    position: absolute;
    right: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.login-8 .social-list li{
    display: inline-block;
}

.login-8 .social-list a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 2px 2px 0;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    color: #275988;
    background: #fff;
    border-radius: 50px;
}

.login-8 .social-list a:hover{
    color: #fff;
}

.login-8 .facebook-bg:hover {
    background: #3b589e;
}

.login-8 .twitter-bg:hover {
    background: #56d7fe;
}

.login-8 .google-bg:hover {
    background: #dc4e41;
}

.login-8 .linkedin-bg:hover {
    background: #1c82ca;
}

.login-8 .pinterest-bg:hover {
    background: #a30618;
}

/** MEDIA **/
@media (max-width: 992px) {
    .login-8 .bg-img{
        display: none;
    }

    .login-8 .form-info{
        padding: 50px 30px;
    }

    .login-8 .login-box{
        max-width: 600px;
        margin: 0 auto;
    }
}
/** Login 8 end **/

/** Login 9 start **/

